[user]
    name = Ido Hirsh
    email = itsidohirsh@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
[pull]
    ff = only
[init]
    defaultbranch = master
[credential]
    helper = store
